
body {
    display: grid;
    align-items: center;
}

#container {
    margin: auto;
    display:grid;
    grid-template-rows: 1fr 3fr 70px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
} 

#x-o-container {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 80px;
}

.choice-bttn {
    border-radius: 10px;
    padding: 5px 85px;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: grey;
    border: 1px solid lightgrey;
}

#x-bttn {
    margin-right: 15px;
}

.selected {
    border: 2px solid black;
    box-shadow: -1px 7px 22px -6px grey;
    color: black;
}

#o-bttn {
    margin-left: 15px;
}

#restart {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor:pointer;
    box-shadow: -1px 7px 22px -6px lightgrey;
}

#play-container {
    background-color: #553d67;
    display: grid;
    justify-content: center;
    align-items: center;
}

#grid-container {
    width: 300px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: #12232E;
    cursor: pointer;
}

.grid-element {
    height: 103px;
    font-size: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#sq1, #sq2, #sq4, #sq5 {
    border-bottom: 3px solid #203647;
    border-right: 3px solid #203647;
}

#sq3, #sq6 {
    border-bottom: 3px solid #203647;
}

#sq7, #sq8 {
    border-right: 3px solid #203647;
}

#diff-lvl {
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    cursor: pointer;
}

.insertMove {
    animation: insertMove 0.35s cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

#endGameMessage-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 575px;
    z-index: 2;
    backdrop-filter: blur(5px);
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;   
    font-size: 2.5rem;
    font-weight: bold;
}

#endGameMessage-subContainer {
    margin-bottom: 90px;
    text-align: center;
}

#gameWinner {
    font-size: 11rem;
}

#message, #gameWinner {
    animation: displayGameMessage 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes insertMove {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes displayGameMessage {
    0% {
        filter: blur(10px);
        opacity:0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}
